Q1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).

In [3]:
def arithmetic_operation(expression):
    l = expression.split(" ")
    number_1 = int(l[0])
    operator = l[1]
    number_2 = int(l[2])
    if operator == "+":
        return number_1+number_2
    elif operator == "-":
        return number_1-number_2
    elif operator == "*":
        return number_1*number_2
    else:
        if number_2 == 0:
            return -1
        else:
            return number_1/number_2

In [4]:
arithmetic_operation("12 + 12")

24

In [5]:
arithmetic_operation("12 - 12")

0

In [6]:
arithmetic_operation("12 * 12")

144

In [8]:
arithmetic_operation("12 // 0")

-1

Q2. Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.

In [10]:
import math
def perimeter(dimensions):
    answer = 0
    answer += math.dist(dimensions[0], dimensions[1])
    answer += math.dist(dimensions[1], dimensions[2])
    answer += math.dist(dimensions[2], dimensions[0])
    return answer

In [11]:
perimeter([[15, 7], [5, 22], [11, 1]])

47.07918859608948

In [12]:
perimeter([[0,0], [0,1], [1,0]])

3.414213562373095

In [13]:
perimeter([[-10, -10], [10, 10], [-10, 10]])

68.2842712474619

Q3. A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).

In [32]:
import pandas as pd
def tallest_skyscrapper(height):
    data = pd.DataFrame(height)
    data = data.transpose()
    return max(data.sum(axis = 1))

In [33]:
tallest_skyscrapper([
    [0,1,0,0],
    [0,1,0,0],
    [0,1,1,0],
    [1,1,1,1]
])

4

In [34]:
tallest_skyscrapper([
    [0,0,0,0,0,0],
    [0,0,0,0,1,0],
    [0,0,1,0,1,0],
    [0,1,1,1,1,0],
    [1,1,1,1,1,1]    
])

4

In [36]:
tallest_skyscrapper([
    [0,0,0,0],
    [0,1,0,0],
    [0,1,1,0],
    [1,1,1,1]
])

3

In [37]:
tallest_skyscrapper([
    [0,0,0,0],
    [0,0,0,0],
    [1,1,1,0],
    [1,1,1,1]
])

2

Q4. A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:

In [38]:
def bonus(days):
    answer = 0
    if days < 32:
        return answer
    elif days < 41:
        answer += 325 * (days-32)
    elif days < 48:
        answer += (40-32)*325
        answer += (days-40)*550
    else:
        answer += (40-32)*325
        answer += (48-40)*550
        answer += (days-48)*600
    return answer

In [39]:
bonus(15)

0

In [40]:
bonus(37)

1625

In [41]:
bonus(50)

8200

Q5. A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.

In [59]:
def is_disarium(number):
    
    count = 0
    number_1 = number
    number_2 = number
    while(number>0):
        count +=1
        number = int(number/10)
        
    answer = 0
    
    while(number_1>0):
        answer = answer + ((number_1%10)**count)
        count -=1
        number_1 = int(number_1/10)
    
    if answer == number_2:
        return True
    else:
        return False

In [60]:
is_disarium(75)

False

In [61]:
is_disarium(135)

True

In [62]:
is_disarium(544)

False

In [63]:
is_disarium(518)

True

In [64]:
is_disarium(466)

False

In [65]:
is_disarium(8)

True